---
type Props = {
  text: string;
};

const { text } = Astro.props;
---

<span
  class="whitespace-nowrap rounded-full border border-emerald-400 bg-emerald-100 px-2.5 py-0.5 text-sm text-emerald-700 transition-colors duration-300 hover:bg-emerald-200 dark:bg-emerald-300 dark:text-emerald-900 dark:hover:bg-emerald-500"
>
  {text}
</span>
