---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@consts";
import ArrowCardProject from "@components/ArrowCardProject.astro";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <h2 class="animate text-xl font-semibold text-black dark:text-white">
          Projects 💻
        </h2>
        <ul class="animate not-prose grid grid-cols-1 gap-4">
          {
            projects.map((project) => (
              <li class="flex">
                <ArrowCardProject entry={project} />
              </li>
            ))
          }
        </ul>
      </div>
    </aside>
  </Container>
</Layout>
